{% extends "layout.html" %}
{% block title %}Django Project - Home{% endblock %}

{% block content %}
    <h1 class="text-center mt-4">Welcome to the Django Project</h1>
    <h2>
        {% if form.instance.pk %}
            Edit Tweet 
        {% else %}
            Create New Tweet
        {% endif %}
        <form method="post" enctype="multipart/form-data" class="form">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-warning">Submit</button>
        </form>
        <a href="{% url 'tweet_list' %}">Back to Tweet List</a>
    </h2>
{% endblock %}